USE [master]
GO
/****** Object:  Database [EmployeeTask]    Script Date: 30/9/2019 12:32:42 AM ******/
CREATE DATABASE [EmployeeTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeTask]
GO
/****** Object:  Schema [EmployeeTask]    Script Date: 30/9/2019 12:32:42 AM ******/
CREATE SCHEMA [EmployeeTask]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/9/2019 12:32:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmployeeTask].[Employees]    Script Date: 30/9/2019 12:32:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmployeeTask].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[JobId] [int] NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[NationalId] [nvarchar](max) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[CreationDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EmployeeTask.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmployeeTask].[Jobs]    Script Date: 30/9/2019 12:32:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmployeeTask].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EmployeeTask.Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [EmployeeTask].[Employees] ON 

INSERT [EmployeeTask].[Employees] ([Id], [Name], [JobId], [Email], [Mobile], [NationalId], [Gender], [CreationDate], [IsActive]) VALUES (7, N'سلمى', 2, N'd@d.com', N'01299999999', N'10000888888888', N'F', CAST(N'2019-09-29' AS Date), 1)
INSERT [EmployeeTask].[Employees] ([Id], [Name], [JobId], [Email], [Mobile], [NationalId], [Gender], [CreationDate], [IsActive]) VALUES (8, N'psk', 2, N'a@a.com', N'01000000000', N'99999999999990', N'F', CAST(N'2019-09-29' AS Date), 1)
INSERT [EmployeeTask].[Employees] ([Id], [Name], [JobId], [Email], [Mobile], [NationalId], [Gender], [CreationDate], [IsActive]) VALUES (9, N'سامي', 1, N'a@a.com', N'01000000000', N'99999999999999', N'M', CAST(N'2019-09-29' AS Date), 1)
SET IDENTITY_INSERT [EmployeeTask].[Employees] OFF
SET IDENTITY_INSERT [EmployeeTask].[Jobs] ON 

INSERT [EmployeeTask].[Jobs] ([Id], [Name], [IsActive]) VALUES (1, N'مبرمج', 1)
INSERT [EmployeeTask].[Jobs] ([Id], [Name], [IsActive]) VALUES (2, N'محاسب', 1)
SET IDENTITY_INSERT [EmployeeTask].[Jobs] OFF
/****** Object:  Index [IX_JobId]    Script Date: 30/9/2019 12:32:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobId] ON [EmployeeTask].[Employees]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [EmployeeTask].[Employees] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreationDate]
GO
ALTER TABLE [EmployeeTask].[Employees] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [EmployeeTask].[Jobs] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [EmployeeTask].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTask.Employees_EmployeeTask.Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [EmployeeTask].[Jobs] ([Id])
GO
ALTER TABLE [EmployeeTask].[Employees] CHECK CONSTRAINT [FK_EmployeeTask.Employees_EmployeeTask.Jobs_JobId]
GO
USE [master]
GO
